<h2>Witamy w VideoPage.pl</h2>
<p>
	Dzięki potędze Cloud Computingu wydajne dostarczanie treści video w Internecie nigdy nie było tak proste i przyjemne. 
</p>
<p>
	Już dziś zapisz się do platformy VideoPage.pl i wzbogać swoją stronę interntową o treści multimedialne. 
</p>
<p>
	<%= link_to 'Załóż nowe konto!', new_user_registration_path, class: 'btn btn-primary btn-large' %>
</p>