<!DOCTYPE html>
<html>
	<head>
		<title>VideoPage</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %> <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#">VideoPage</a>
					<ul class="nav pull-right">
						<li class="active">
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">Link</a>
						</li>
						<li>
							<a href="#">Link</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="hero-unit">
				<%= yield %>
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<small>Wykonanie: <a href="http://socialfreaks.pl">Socialfreaks.pl</a></small>
			</div>
		</footer>
	</body>
</html>
